:root {
    --bluegray: #ecf0f1; 
    --pale-blue: #2c3e50; 
    --mid-gray: #999; 
    --jean-blue: #3b5875; 
    --lighter-blue: #95acf0;
    --light-blue: #3273a8;
    --sky-blue: #dff9fb;
    --darker-sky-blue : #c7ecee

} 

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: inherit;

}

#header {
    background-color: var(--bluegray);
    padding: 1.2rem 0;
} 

#header .header-wrapper .logo {
    font-size: 1.35rem;
    line-height: 1.5;
    font-weight: 600;
} 

#header .header-wrapper .logo a {
    color: #123;
    letter-spacing: 1.5;
} 

#header .header-wrapper .user-actions {
    font-size:  1rem;
    line-height: 1.5;
    gap: 1rem;
}

#header .header-wrapper .user-actions .logout-btn {
    cursor: pointer;
    margin-left: 1.5rem;
} 

#header .header-wrapper .user-actions a {
    color: #123;
    margin-right: 1.2rem;
    text-decoration: none;
} 

#header .header-wrapper .user-actions a:hover {
    text-decoration-line: underline ;
}

