#price-filter-label-min {
    flex-basis: 50%;
} 

.product-list-title {
    font-size: 2.5rem;
    margin: 40px 0;
    font-weight: normal;
}

.product-list-sidebar {
    margin-right: 100px;
    flex-basis: 20%;
}

.product-list-sidebar a {
    padding: 4px 10px;
    color: #111;
    border-bottom: 1px solid var(--lighter-blue);
    background-color: var(--sky-blue);
    border-radius: 5px;
}

.product-list-sidebar a:last-child { 
    border-bottom: none;
} 


.product-list-sidebar a:hover {
    background-color: var(--darker-sky-blue);
    font-weight: bold;
}

#categoryList {
    margin-bottom: 1rem;
} 


.sidebar-title {
    margin-bottom: 0.5rem;
} 

.sidebar-search {
    margin-bottom: .8rem;
}

.clear-filter {
    margin-top: 1rem;
}

.price-filter .price-filter-select > div {
    margin-bottom: 0.5rem;
}

.product-list-box {
    flex-basis: 80%; 
}

.product-list-box .product-item {
    width: 30%;
    margin-right: 2%;
    margin-bottom: 35px;
    box-shadow:  0px 1px 5px var(--light-gray);
} 


.product-list-box .product-item img {
   max-width: 100%;
}

.product-list-box .product-item .product-name {
    font-size: 1.5rem;
    color: #111;
    padding: .60rem 0;
} 

.product-list-box .product-item .product-price {
    color: var(--light-blue);
    font-size: 1.4rem;
    padding: 10px;
}

.product-list-box .product-item:nth-child(3n) {
    margin-right: 0px;
}

.product-list-box .product-item:hover{ 
    box-shadow: 0px 8px 15px var(--light-gray);
    transition: box-shadow 0.15s linear 0s;

}